<h1>Welcome to ALPA Fund 2.0</h1>

<p>This is the beginning of a REVOLUTION: We believe that blockchain technology is one of the most exciting and probably the most important technological innovation in computer science.</p>
<p>The blockchain spase is plotting a revolution with the idea of new architecture for the web. In the same way the internet has changed our way to interact, we believe blockchain technology will have a significant impact on our lives. Blockchain creates a decentralized architecture that is more fair and just.</p>
<br />
<div class="btn btn-default" routerLink="invest" *ngIf="web3Service.ready">
  Invest
</div>
