/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font: normal 15px / 27px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
  color: #85868c;
  background: #111111 url(~assets/grid-light.png) repeat fixed left top;
  background-size: auto;
}
